// COLORS

$color-primary-light: #7cacff;
$color-primary: #3498db;
$color-primary-dark: #1c8ad3;

$color-grey-dark: #333;
$color-white: #fff;
$color-black: #000;
$color-red: #e74c3c;
$color-green: #2ecc71;

$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-instagram: #e4405f;
$color-linkedin: #0077B5;

// GRID

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;


// FONT

$font-size-primary: 1.7rem;

// MARGINS

$margin-bottom: 5rem;
$margin-respond: 5rem;